&IF DEFINED({&PREFIX}{&OE_ODBC_TEMPTABLE}-I) = 0 &THEN
&GLOBAL-DEFINE {&PREFIX}{&OE_ODBC_TEMPTABLE}-I 1

DEF TEMP-TABLE {&PREFIX}{&OE_ODBC_TEMPTABLE} NO-UNDO {&REFERENCE-ONLY} 
  {&OE_ODBC_BEGIN_FIELD_REPEAT}
  FIELD {&OE_ODBC_FIELDNAME} AS {&OE_ODBC_ABL_FIELDTYPE} init ?
  {&OE_ODBC_END_FIELD_REPEAT}
  FIELD SortOrder AS INTEGER     INIT ?
  index idxSortOrder is primary unique sortOrder
  .
  
&ENDIF
